<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <form action="/submit" method="post">
        <label for="username">username</label><br>
        <input type="text" name="Username" id=""><br>

        <label for="age">Age</label><br>
        <input type="number" name="userAge" id=""><br>

        <button type="submit">submit</button>
    </form>
    <!-- <h1>
     <%=43564*45345456 %>
    </h1> -->
    

</body>
</html>